<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blokus</title>
</head>
<body>
    <main>
        <div class="form_container">
            <form action="" method="post">
                <label for="username" data="new_username"></label>
                <input type="text" name="username">
                <label for="password" data="password"></label>
                <input type="password" name="password">
                <button type="submit" data="new_username_button"></button>
            </form>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                <div class="flash">
                <p data="{{message}}"></p>
                </div>
                {% endfor %}
            {% endif %}
            {% endwith %}
        </div>
    </main>
</body>
<link rel="stylesheet" href="{{url_for('static', filename='css/widgets/form.css')}}">
</html>