<main>
    <article>
        <h3 data="credits_localisation"></h3>
        <p>Tom Loisil</p>
        <h3 data="credits_localisation2"></h3>
        <p>Tom Loisil</p>
        <div class="together">
            <img id="test" src="{{url_for('static', filename='images/photo_tom.png')}}">
            <img id="test" src="{{url_for('static', filename='images/test_tom.png')}}">
        </div>    

        <h3 data="credits_director"></h3>
        <p>Kévin Bui</p>
        <div class="together">
            <img id="test" src="{{url_for('static', filename='images/photo_kev.jpg')}}">
            <img id="test" src="{{url_for('static', filename='images/test_kev.png')}}">
        </div>  
        <h3 data="credits_chocolate"></h3>
        <p>Anne-Cécile Poisot</p>
        <div class="together">
            <img id="test" src="{{url_for('static', filename='images/photo_a-c.jpg')}}">
            <img id="test" src="{{url_for('static', filename='images/test_a-c.jpg')}}">
        </div>  
        <h3 data="credits_illogic"></h3>
        <p>Raphaël Estivals</p>
        <div class="together">
            <img id="test" src="{{url_for('static', filename='images/photo_raph.jpg')}}"><img id="test" src="{{url_for('static', filename='images/test_raph.png')}}">
        </div>  
        <h3 data="credits_support"></h3>
        <p>Bébé Girafe &lt;3</p>
        <div class="together">
            <img id="test" src="{{url_for('static', filename='images/photo_bb_girafe.jpg')}}"><img id="test" src="{{url_for('static', filename='images/autism-spectrum_bebe_girafe.png')}}">
        </div>  
    </article>
</main>
<link rel="stylesheet" href="{{url_for('static', filename='css/pages/credits.css')}}">