<main>
    <a href="/create"><button type="games_button" data="new_room"></button></a>
    <div id="currentGames">
        <table id="rooms">
            <thead>
                <td data="room_date"></td>
                <td data="room_id"></td>
            </thead>
            <tbody>
                {% for r in rooms %}
                <tr>
                    <td>{{r.date}}</td>
                    <td><a href="/create?roomid={{r.id}}">{{r.id}}</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <table id="games">
            <thead>
                <td data="game_date"></td>
                <td data="game_id"></td>
            </thead>
            <tbody>
                {% for p in games %}
                <tr>
                    <td>{{p.date}}</td>
                    <td><a href="/game?gameid={{p.id}}">{{p.id}}</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</main>
<link rel="stylesheet" href="{{url_for('static', filename='css/pages/games.css')}}">