<main>
    <h1> PRÉSENTATION DU JEU</h1>

    <table>
        <tbody>
            <td> <img src="{{url_for('static', filename='images/image_plateau.jpg')}}" alt="image d'un plateau de Blokus">  </td>
            <td>
                <p> Blokus est un jeu de société sorti le 1 janvier 2000. C'est un jeu simple qui se joue
                rapidement, avec un nombre de joueurs compris entre 2 et 4. On peut jouer avec des personnes
                de plus de 7 ans.
                </p>
                <p> Vous souhaiter découvrir les règles ? Suivez le <a href="/rules"> guide </a></p>
                <p> Vous souhaiter jouer ? <a href="/signup"> Inscrivez-vous </a> ou <a href="/login">connectez-vous</a> !</p></td>
        </tbody>
    </table>
</main>
<link rel="stylesheet" href="{{url_for('static', filename='css/pages/homepage.css')}}">