<main>
    <h1 data="rules"></h1>

    <h2 data="contents_q"></h2>
    <p data="contents_a"></p>
    <div id="pieces_table"> 
        {% from "widgets/piece.txt" import piece %}
        {% for p in pieces %}
            {{piece(p, 2, i)}}
        {% endfor %}
     </div>
    <div id="presentation">
        <h2 data="how_to_play_q"></h2>
        <p data="how_to_play1"></p>
        <p data="how_to_play2"></p>
        <p data="how_to_play3"></p>
        <p data="how_to_play4"></p>
    
        <h2 data="scoring_q"></h2>
        <p data="scoring1"></p>
        <p data="scoring2"></p>
        <p data="scoring3"></p>
        <p data="scoring4"></p>
    </div>
</main>
<link rel="stylesheet" href="{{url_for('static', filename='css/widgets/piece.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='css/pages/rules.css')}}">