<main>
    <article id="scoreboard">
        {% if scoreboard|length == 1 or scoreboard[0][1] == scoreboard[1][1] %}
        <div id="status" data="draw_table"></div>
        {% else %}
        <div id="status">
        {% if scoreboard[0][0][:6] == "Guest " %}
            <span data="guest">{{scoreboard[0][0][6:]}}</span>
        {% elif scoreboard[0][0][:3] == "AI " %}
            <span data="AI">{{scoreboard[0][0][3:]}}</span>
        {% else %}
            <span>{{scoreboard[0][0]}}</span>
        {% endif %}
            <span data="victory"></span>


        </div>
        {% endif %} 
        <p></p>
        <p></p>
        <table id="scores">
            <thead>
                <td data="username_table" id="ga"></td>
                <td data="score_table" id="dr"></td>
            </thead>
            <tbody>
                {% for s in scoreboard %}
                {% if s == scoreboard[-1] %}
                <tr>
                    {% if s[0][:6] == "Guest " %}
                        <td data="guest" id="ga">{{s[0][6:]}}</td>
                    {% elif s[0][:3] == "AI " %}
                        <td data="AI" id="ga">{{s[0][3:]}}</td>
                    {% else %}
                        <td id="ga">{{s[0]}}</td>
                    {% endif %}
                    <td id="dr">{{s[1]}}</td>
                </tr>
                {% else %}
                <tr>
                        {% if s[0][:6] == "Guest " %}
                            <td data="guest">{{s[0][6:]}}</td>
                        {% elif s[0][:3] == "AI " %}
                            <td data="AI">{{s[0][3:]}}</td>
                        {% else %}
                            <td>{{s[0]}}</td>
                        {% endif %}
                    <td>{{s[1]}}</td>
                </tr>
                {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </article>
    <table id="grid">
        {% for i in range(grid|length) %}
        <tr>
            {% for j in range(grid[i]|length) %}
            {% set x = i %}
            {% set y = j %}
            <td class="c{{ grid[i][j] }}" onMouseOver="selectSpot({{x}}, {{y}})" onMouseOut="unselectSpot()" onClick="play()"></td>

            {% endfor %}
        </tr>
        {% endfor %}

    </table>
    {% from 'widgets/historyElt.txt' import historyElt %}
    {{ historyElt(history) }}
</main>
<link rel="stylesheet" href="{{url_for('static', filename='css/pages/scoreboard.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='css/widgets/grid.css')}}">