#gameInterface {
    display: grid;
    grid-template-columns: calc((90vw - 60vh)/2) 60vh calc((90vw - 60vh)/2);
    gap: 2.5vh;
    width: min-content;
    margin: 2vh auto 2vh auto;

    #player {
        grid-column: 1;
        height: 60vh;
    }
    
    #otherPlayers {
        grid-column: 3;
        height: 60vh;
        display: flex;
        flex-direction: column;
        border: 1px solid black;

        div>span {
            display: block;
        }
    }

    .playerInterface {
        max-height: 93%;
        flex-grow: 1;
        display: flex;
        flex-direction: column;

        .pieces {
            flex-grow: 1;
            display: grid;
            grid-template-columns: repeat(2, 9vh);
            gap:0.25vh;
            overflow: scroll;
            border: 1px solid black;
    
            .piece {
                height: 15vh;
                width: 9vh;
                border: solid black 1px;
                border-radius: 5%;
    
                table {
                    margin: auto;
                }
            }
        }
    }

    .closed {
        flex-grow: 0;
    }

    .closed>.pieces {
        display: none;
    }
}
