body {
    text-align: center;
    margin:0;
    background-color:  #6874a7;
    main {
        position: relative;
        left: 50%;
        transform: translate(-50%,0);
        button[type="games_button"] {
            border: none;
            width: 200px;
            padding: 10px;
            border-radius: 10px;
            background-color: #ffb247c4;
            color: white;
            cursor: pointer;
            transition: background-color 0.3s;
        }
    }
}