#navbar>ul {
    display: flex;
    flex-direction: row;
    padding: 10px;

    li {
        display: block;
        padding: 0.2vh;

        a {
            text-decoration: none;
            color:black;

            .circular_image {
                border-radius: 100%;
                overflow: hidden;
                position: relative;
                bottom : -15%;
                background-color: blue;
                display:inline-block;
                vertical-align:middle;
              
                img{
                    width:100%;
                }
            }
        }
    }

    #profile, #login {
        margin-left: auto;
    }
}
header {
    background-color: #ff5f00;
    position: relative;
    width:100%;
    top: 0;
    left: 50%;
    transform: translate(-50%,-40%);
}
body {
    margin:0;
    button[type="head_button"] {
        width: 100%;
        padding: 10px;
        border-radius: 4px;
        background-color: #ffb247c4;
        color: white;
        border: none;
        cursor: pointer;
        transition: background-color 0.3s;
        &#menu_btn {
          width: 5vw;
          color:black;
        }
      }
}


.menu {
    height: 100%;
    width: 0; 
    background-color: #a768a0;
    position: fixed;
    top: 0;
    right: 0; 
    overflow-x: hidden; 
    transition: 0.5s;
    z-index: 9999; 
  }
  
  .menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .menu ul li {
    padding: 16px;
    text-align: left;
  }
  
  .menu ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    display: block;
    transition: 0.3s;
  }
  
  .menu ul li a:hover {
    background-color: #ca7dc0 ;
  }
  
  
  
  #menuButton:hover {
    background-color: #6874a7;
  }
  