.piece {
    position: relative;

    td {
        width:3vh;
        height: 3vh;
    }

    .c1 {
        background-color: red;
    }
    
    .c2 {
        background-color: green;
    }
    
    .c3 {
        background-color: yellow;
    }
    
    .c4 {
        background-color: blue;
    }

    .rotate {
        visibility: hidden;
        max-width: 8vh;
        
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        
    }

    &.chosenOne {
        
        .rotate {
            visibility: visible;
            filter: none;
        }
    }
}