<footer>
    <ul>
        <li>
            <img src="../static/images/blokus.webp">
        </li>
        <li>
            <span data="footer"></span>
        </li>
        <li>
            <img src="{{url_for('static', filename='images/telecomnancy.png')}}" alt="Télécom Nancy">
        </li>
        <li>
            <img class="circular_image" src="{{url_for('static', filename='images/univlorrainefond.jpg')}}" alt="Université de Lorraine">
        </li>
        <li>
            <span>KART-PLEB</span>
        </li>
    </ul>
</footer>
<link rel="stylesheet" href="{{url_for('static', filename='css/widgets/footer.css')}}">