$background : #6c65d6;
$FOOT: #ff5f00;

body {
  height: min-content;
  text-align: center;
}
main {
  margin:0;
  min-height: 82vh;

}
button[type="simple_button"] {
    width: auto;
    min-width: 1vw;
    padding-top: 1vh;
    padding-bottom: 1vh;
    border-radius: 4px;
    background-color: #ffb247c4;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
  }