#background {
    z-index: 1;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;

    .piece {
        position:absolute;
        visibility: hidden;

        &#duck {
            width: 100px;
            height: 100px;
        }
    }
}

@keyframes go_down {
    100%{
        transform: translateY(100vh);
    }
    
}