@import "../widgets/variable";

.flash {
    margin-top: 20px;
    padding: 5px;
    background-color: $background;
    color: #721c24;
    border: 1px solid #f5c6cb;
    border-radius: 5px;
    width: 100%;
    max-width: 270px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  body {
    background-color: $background;
  }