@import "../widgets/variable";

footer {
    display: flex;
    justify-content: center;
    background-color: $FOOT;
    position: fixed;
    width:100vw;
    bottom: 0px;
    left: 50%;
    transform: translate(-50%,0);/*Normalement le footer devient centrer*/

    ul {
        height: 5vh;
        display: inline-flex;
        margin: 100 auto 100 auto;
        padding: 0;
        
    
        li {
            display: inline-block;
            height: 5vh;
            padding: 1vh;
            span {
                width: fit-content;
            }
            img, span {
                height: 3vh;
                vertical-align: middle;
            }
            .circular_image {
                border-radius: 100%;
                overflow: hidden;
                background-color: blue;
                display:inline-block;
                vertical-align:middle;
              
                img{
                    width:100%;
                }
            }
        }
    }
}