@import "../widgets/variable";

footer {
    min-height: 5vh;
    display: flex;
    justify-content: center;
    background-color: $FOOT;
    position: relative;
    z-index: 5;
    width:100vw;
/*Normalement le footer devient centrer*/

    ul {
        height: 5vh;
        display: inline-flex;
        margin: 2vh auto 2vh auto;
        padding: 0;
        margin-bottom: 3vh;        
    
        li {
            display: inline-block;
            height: 5vh;
            padding: 1vh;
            span {
                width: fit-content;
            }
            img, span {
                height: 3vh;
                vertical-align: middle;
            }
            .circular_image {
                border-radius: 100%;
                overflow: hidden;
                background-color: $blue-color;
                display:inline-block;
                vertical-align:middle;
              
                img{
                    width:100%;
                }
            }
        }
    }
}