
@import "../widgets/variable";

#grid {
    display: table;
    grid-column: 2;
    // margin: auto;
    padding: 1vh;
    background-color: $content-background;
    border-radius: 2vh;

    td {
        width:3vh;
        height: 3vh;
        box-sizing: border-box;
    }

    .c0 {
        background-color: black;
    }
    
    .c1 {
        background-color: $red-color;
    }
    
    .c2 {
        background-color: $green-color;
    }
    
    .c3 {
        background-color: $yellow-color;
    }
    
    .c4 {
        background-color: $blue-color;
    }
}