@import "../widgets/variable";

#navbar>ul {
    display: flex;
    flex-direction: row;
    padding: 10px;
    margin:0;

    li {
        display: block;
        padding: 0.2vh;

        a {
            text-decoration: none;
            color:black;

            .circular_image {
                border-radius: 100%;
                overflow: hidden;
                position: relative;
                background-color: $blue-color;
                display:inline-block;
                vertical-align:middle;
              
                img{
                    width:100%;
                }
            }
        }
    }

    #profile, #login {
        margin-left: auto;
    }
}
header {
    background-color: $FOOT;
    height: 8vh;
    min-height: 3em;
    position: relative;
    width:100vw;
    top: 0;
    left: 50%;
    transform: translate(-50%,);
    position: relative;
    z-index: 5;
}
body {
    margin:0;
    button[type="head_button"] {
        box-sizing: border-box;
        width: 100%;
        height: auto;
        padding: 1vh;
        border-radius: 4px;
        background-color: $button-color;
        color: white;
        border: none;
        cursor: pointer;
        transition: background-color 0.3s;
      }
}

@media (max-width: 1281px) {
    header {
        #games {
            display: none !important;
        }
    
        .circular_image {
            width: 40px;
            height: 40px;
        }
    }
}

//La suite c'est pour le menu coulissant




$menu-width: 250px;



.open-btn {
    cursor: pointer;
}

.menu {
    text-align: center;
    height: 0vh;
    width: 10vw;
    position: absolute;
    top: 8vh;
    right: 0; 
    background-color: $FOOT;
    overflow-x: hidden;
    transition: 0.5s;
    z-index: 4;
    a {
        text-decoration: none;
        font-size: 25px;
        color: white;
        display: block;
        transition: 0.3s;
        margin-top: 1vh;
        &:hover {
            color: black;
        }
    }

    .close-btn {
        color: white;
        position: relative;
        top: 0vh;
        left: 1vw; 
        font-weight: bold;
        background: none;
        border: none;
        cursor: pointer;
    }
}


@media (max-width: 1281px) {
    button[type="head_button"] {
        min-height: 6vh;
    }

    .menu {
        width: 50vw;
    }
}