
@import "../widgets/variable";

.piece {
    position: relative;

    td {
        width:3vh;
        height: 3vh;
    }

    .c1 {
        background-color: $red-color;
    }
    
    .c2 {
        background-color: $green-color;
    }
    
    .c3 {
        background-color: $yellow-color;
    }
    
    .c4 {
        background-color: $blue-color;
    }

    .rotate, .reverse {
        visibility: hidden;
        max-width: 6vh;
        
        position: absolute;        
    }

    .rotate {
        top: 25%;
        left: 50%;
        transform: translate(-50%, -25%);
    }

    .reverse {
        top: 75%;
        left: 50%;
        transform: translate(-50%, -75%);
    }

    &.chosenOne {

        table {
            visibility: hidden;
        }
        
        .rotate, .reverse {
            visibility: visible;
            filter: none;
        }
    }
}