
@import "../widgets/variable";


body {
    text-align: center;
    margin:0;
    background-color: $background;
    main {
        #selectPlayers {
            width: fit-content;
            margin:auto;
            display: grid;
            grid-template-rows: 30vh 30vh;
            grid-template-columns: 30vw 30vw;
            gap: 2vh;
            .selectPlayer {
                width: 30vw;
                height: 30vh;
                box-sizing: border-box;
                border-radius: 4vh;
                background-color: $content-background;
                padding: 1vw;    
                border-width: 5px !important;
                button {
                    border-width: 5px;
                    width: 8vw;
                    min-width: 5em;
                    min-height: 3em;
                    border-radius: 10px;
                    background-color: #ffb247;
                    color: white;
                    cursor: pointer;
                    transition: background-color 0.3s;
                    margin:auto;
                }
                &.c1 {
                    border:red solid;
                    margin:auto;
                    button {
                        border-color:red;
                    }
                }
            
                &.c2 {
                    border:green solid;
                    margin:auto;
                    button {
                        border-color:green;
                    }
                }
            
                &.c3 {
                    border:yellow solid;
                    margin:auto;
                    button {
                        border-color:yellow;
                    }
                }
            
                &.c4{
                    border:blue solid;
                    margin:auto;
                    button {
                        border-color:blue;
                    }
                }
        
                &.grayed {
                    .addHuman, .addAI {
                        display: block;
                    }
        
                    .remove {
                        display: none;
                    }
                }
        
                &:not(.grayed) {
                    .addHuman, .addAI {
                        display: none;
                    }
        
                    .remove {
                        display: block;
                    }
                }
        
                .content.grayed {
                    opacity: 0.5;
                }
        
                .hidden {
                    display: none;
                }
            }
        }
        
        #buttons {
            display: flex;
            flex-direction: row;
            width: fit-content;
            margin: 2vh auto 0 auto;
            align-items: center;
            gap: 2vh;

            #leaveRoom {
                border-color: red;
                border-width: 5px;
                width: 8vw;
                min-width: 5em;
                padding: 10px;
                border-radius: 10px;
                background-color: #ffb247;
                color: white;
                cursor: pointer;
                transition: background-color 0.3s;
                margin:auto;
            }
            
            #createGame {
                border-color: green;
                border-width: 5px;
                width: 8vw;
                min-width: 5em;
                padding: 10px;
                border-radius: 10px;
                background-color: #ffb247;
                color: white;
                cursor: pointer;
                transition: background-color 0.3s;
                margin:auto;
            }
        
            #link {
                display: flex;
                flex-direction: row;
        
                #roomid {
                    width: 8vw;
                    padding: 10px;
                    border-radius: 10px 0 0 10px;
                    background-color: $content-background;
                    text-align: center;
                }
        
                button {
                    border-radius: 0 10px 10px 0;
                    width: 8vw;
                    min-width: 5em;
                    padding: 10px;
                    background-color: #ffb247;
                    color: white;
                    cursor: pointer;
                    transition: background-color 0.3s;
                    margin:auto;
                }
            }
        
            #autoForfeit {
                border-radius: 10px;
                padding: 10px;
                background-color: $content-background;
            }
        }
        
    }
    p {
        margin: 0;
    }
}