body {
  height: -moz-min-content;
  height: min-content;
  min-height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
}

main, #not_available {
  margin: 0;
  margin-top: 2vh;
  position: relative;
  z-index: 2;
  flex-grow: 1;
}

@media (min-width: 1281px) {
  #not_available {
    display: none;
  }
}
button[type=simple_button] {
  width: auto;
  min-width: 1vw;
  padding-top: 1vh;
  padding-bottom: 1vh;
  border-radius: 4px;
  background-color: #f3a942;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

@media (max-width: 1281px) {
  .not_responsive {
    display: none;
  }
  #not_available {
    display: block;
  }
  #not_available #content {
    background-color: #E9DCC9;
    border-radius: 2vh;
  }
}
body {
  text-align: center;
  margin: 0;
  background-color: #6c65d6;
}
body main #selectPlayers {
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  display: grid;
  grid-template-rows: 30vh 30vh;
  grid-template-columns: 30vw 30vw;
  gap: 2vh;
}
body main #selectPlayers .selectPlayer {
  width: 30vw;
  height: 30vh;
  box-sizing: border-box;
  border-radius: 4vh;
  background-color: #E9DCC9;
  padding: 1vw;
  border-width: 5px !important;
}
body main #selectPlayers .selectPlayer.c1 {
  border: red solid;
  margin: auto;
}
body main #selectPlayers .selectPlayer.c2 {
  border: green solid;
  margin: auto;
}
body main #selectPlayers .selectPlayer.c3 {
  border: yellow solid;
  margin: auto;
}
body main #selectPlayers .selectPlayer.c4 {
  border: blue solid;
  margin: auto;
}
body main #selectPlayers .selectPlayer.grayed .addHuman, body main #selectPlayers .selectPlayer.grayed .addAI {
  display: block;
}
body main #selectPlayers .selectPlayer.grayed .remove {
  display: none;
}
body main #selectPlayers .selectPlayer:not(.grayed) .addHuman, body main #selectPlayers .selectPlayer:not(.grayed) .addAI {
  display: none;
}
body main #selectPlayers .selectPlayer:not(.grayed) .remove {
  display: block;
}
body main #selectPlayers .selectPlayer .content.grayed {
  opacity: 0.5;
}
body main #selectPlayers .selectPlayer button.hidden {
  display: none;
}
body main #buttons {
  display: flex;
  flex-direction: row;
  width: -moz-fit-content;
  width: fit-content;
  margin: 2vh auto 0 auto;
  align-items: center;
  gap: 2vh;
}
body main #buttons button[type=leave_room_button] {
  border-color: black;
  width: 8vw;
  min-width: 5em;
  padding: 10px;
  border-radius: 10px;
  background-color: #ffb247;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
  margin: auto;
}
body main #buttons button[type=create_games_button] {
  border-color: black;
  width: 8vw;
  min-width: 5em;
  padding: 10px;
  border-radius: 10px;
  background-color: #ffb247;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
  margin: auto;
}
body main #buttons #link {
  display: flex;
  flex-direction: row;
}
body main #buttons #link #roomid {
  width: 8vw;
  padding: 10px;
  border-radius: 10px 0 0 10px;
  background-color: #E9DCC9;
  text-align: center;
}
body main #buttons #link button {
  border-radius: 0 10px 10px 0;
}
body main #buttons #autoForfeit {
  border-radius: 10px;
  padding: 10px;
  background-color: #E9DCC9;
}
body p {
  margin: 0;
}/*# sourceMappingURL=create_game.css.map */