@import "../widgets/variable";
body {
    text-align: center;
    background-color: $background;
    h3 {
        color:black;
        margin-bottom: -1em;
    }
    p {
        color:black;
        margin-bottom: 2em;
    }  
}