@import "../widgets/variable";
body {
    text-align: center;
    background-color: $background;

    article {
        #test {
            width: 30vw;
        }
        .together {
            display: flex;
            flex-direction: row;
            margin-top: 3vh;
        }
        padding: 2vh;
        width: fit-content;
        background-color: $content-background;
        border-radius: 2vh;
        margin: 0 auto 0 auto;

        h3 {
            color:black;
            margin-bottom: -1em;
        }
        p {
            color:black;
            margin-bottom: 2em;
        }  
    }
}

@media (max-width: 1281px) {
    article {
      padding: 0 !important;
    }
}