
@import "../widgets/variable";
body {
  background-color: $background;
  text-align: center;
}

table{
  padding:auto;
  padding-left: 10vw;
  p {
    width: 50vw;
  }
  ul {
    transform: translate(-3vw,);
    width: 50vw;
    display: flex;
    flex-direction: row;
    li {
        padding: auto;
        margin-inline:auto;
        display: flex;
    }
  }
}
  