
@import "../widgets/variable";
body {
  background-color: $background;
  text-align: center;
}

article{
  padding:auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  #presentation {
    p {
      width: 50vw;
    }
    ul {
      transform: translate(-3vw,);
      width: 50vw;
      display: flex;
      flex-direction: row;
      li {
          padding: auto;
          margin-inline:auto;
          display: flex;
      }
    }
  }
}



@media (max-width: 1281px) {
  article {
    flex-direction: column;
    width: 100vw;
    height: min-content;

    img {
      width: 90vw;
      margin: auto;
    }
  }
}