@import "../widgets/variable";
table#games {
    border-collapse: collapse;
    th, td {
        border: 1px solid black;
    }
}

body {
    text-align: center;
    margin:0;
    background-color:$background;
    main {
        position: relative;
        left: 50%;
        transform: translate(-50%,0);
        table {
            position: relative;
            left: 50%;
            transform: translate(-50%,0);
        }
        button[type="profile_button"] {
            border: none;
            width: 200px;
            padding: 10px;
            border-radius: 10px;
            background-color: #ffb247c4;
            color: white;
            cursor: pointer;
            transition: background-color 0.3s;
        }
    }
}