@import "../widgets/variable";
table#games {
    border-collapse: collapse;
    th, td {
        border: 1px solid black;
    }
}

body {
    text-align: center;
    margin:0;
    background-color:$background;
    main {
        #profile {
            display: flex;
            flex-direction: column;
            width: 20vw;
            align-items: center;
            margin: 0 auto 0 auto;
            padding-bottom: 2vh;
            background-color: $content-background;
            border-radius: 2vh;
            
            h1 {
                margin: 2vh;
            }

            table {
                position: relative;
            }
            button[type="profile_button"] {
                border: none;
                width: 200px;
                padding: 10px;
                border-radius: 10px;
                background-color: #ffb247c4;
                color: white;
                cursor: pointer;
                transition: background-color 0.3s;
            }
        }
    }
}

@media (max-width: 1281px) {
    #profile {
        width: 80vw !important;
    }
}