#otherPlayers {
    height: 60vh;
    width: 20vw;
    background-color: #2e2e2e;
    color: white;
}

#otherPlayers>div>span {
    display: block;
}


.more {
    height: 100%;
}

.closed>.more {
    display: none;
}