<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blokus</title>
</head>
<body>
    <footer>
        <span>Blokus est une marque déposée par SEKKOIA.</span>
        <img src="{{url_for('static', filename='telecomnancy.png')}}" alt="Télécom Nancy">
        <img src="{{url_for('static', filename='univlorrainefond.jpg')}}" alt="Université de Lorraine">
        <span>KART-PLEB</span>
    </footer>
    <link rel="stylesheet" href="{{url_for('static', filename='footer.css')}}">
</body>
</html>