<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blokus</title>
</head>
<body>
    <div id="gameInterface">
        <div id="player">
            {% from 'playerInterface.txt' import playerInterface %}
            {{ playerInterface("test3", true) }}
        </div>
        <table id="grid">
            {% for line in grid %}
            <tr>
                {% for cell in line %}
    
                <td class="c{{ cell }}"></td>
    
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
        <div id="otherPlayers">
            {{ playerInterface("test1", true) }}
            {{ playerInterface("test2") }}
            {{ playerInterface("test4") }}

        </div>
    </div>

    <script src="{{url_for('static', filename='game.js')}}"></script>
    <link rel="stylesheet" href="{{url_for('static', filename='css/grid.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/piece.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/game.css')}}">
</body>
</html>