<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blokus</title>
</head>
<body>
    <table id="grid">
        {% for line in grid %}
        <tr>
            {% for cell in line %}

            <td class="c{{ cell }}"></td>

            {% endfor %}
        </tr>
        {% endfor %}
    </table>

    <script src="{{url_for('static', filename='updateGrid.js')}}"></script>
    <link rel="stylesheet" href="{{url_for('static', filename='css/grid.css')}}">
</body>
</html>