<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blokus</title>
</head>
<body>
    <header>
            <nav id="navbar">
                <ul>
                    <li id="name">
                        <a href="/"><button type="head_button">BLOKUS</button></a>
                    </li>
                    <li id="games">
                        <a href="/games" ><button type="head_button" data="play"></button></a>
                    </li>
                    <li id="credits">
                        <a href="/credits"><button type="head_button" data="credits"></button></a>
                    </li>


                    <!-- <p>{{pid}}</p> -->
                    {% if pid != -1 %}
                        <li id="profile">
                            <a href="/profile/{{pid}}"><img class="circular_image" title="" data-title="my_profile" src="../static/images/icone.jpg"width="20" height="20"></a>
                        </li>
                        <li>
                            <button data="logout" type="head_button" onclick="deleteCookies()"></button>
                        </li>
                    {% else %}
                        <li id="login">
                            <a href="/login" ><button type="head_button" data="login"></button></a>
                        </li>
                        <li id="signup">
                            <a href="/signup" ><button type="head_button" data="signup"></button></a>
                        </li>
                    {% endif %}
                        <li id="english">
                            <a href="" onclick="changeLanguage('en')">English</a>
                        </li>                      
                        <li id="french">
                            <a href="" onclick="changeLanguage('fr')">Français</a>
                        </li>
                </ul>
            </nav>
    </header>
    <link rel="stylesheet" href="{{url_for('static', filename='css/header.css')}}">
    <script src="{{url_for('static', filename='main.js')}}"></script>
</body>
</html>