<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blokus</title>
</head>
<body>
    <form action="" method="post">
        <label for="username" data="username"></label>
        <input type="text" name="username" placeholder="john_doe">
        <label for="password" data="password"></label>
        <input type="password" name="password">
        <input type="submit">
    </form>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
        <p>{{message}}</p>
        {% endfor %}
    {% endif %}
    {% endwith %}
</body>
</html>