<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blokus</title>
</head>
<body>
    <form action="" method="post">
        <label for="username">Pseudo: </label>
        <input type="text" name="username" placeholder="john_doe">
        <label for="password">Mot de passe: </label>
        <input type="password" name="password">
        <label for="confirmation">Confirmation de mot de passe: </label>
        <input type="password" name="confirmation">
        <input type="submit">
    </form>
</body>
</html>