<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blokus</title>
</head>
<body>
    <h1 data="profile">{{username}}</h1>
    <table id="stats">
        <tr>
            <td>
                <span data="wins"> {{nbvictories}}</span>
            </td>
            <td>
                <span data="losses"> {{nbdefeats}}</span>
            </td>
            <td>
                <span data="draws"> {{nbdraws}}</span>
            </td>
        </tr>
        <tr>
            <td colspan="3" data="ratio"> {{ratio}}</td>
        </tr>

    </table>
    <table>
        <thead>
            <td data="game_date"></td>
            <td data="game_id"></td>
            <td data="game_state"></td>
        </thead>
        <tbody>
            {% for p in games %}
            <td>{{p.date}}</td>
            <td>{{p.id}}</td>
            <td>{{p.state}}</td>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>